<div id="footer" class="site-footer mt-5 pb-5">
  <div class="mt-3">
    <div class="d-flex justify-content-between align-items-center flex-wrap">

      <!-- Logos Row: Centered vertically with spacing -->
      <div class="d-flex align-items-center" style="gap: 5.25rem;">
        <a href="https://cheme.stanford.edu/">
          <img class="img-fluid" src="/assets/images/cheme.png" style="max-height: 60px;">
        </a>
        <a href="https://food.stanford.edu/">
          <img class="img-fluid" src="/assets/images/food.png" style="max-height: 60px;">
        </a>
        <a href="https://biox.stanford.edu/">
          <img class="img-fluid" src="/assets/images/biox.png" style="max-height: 60px;">
        </a>
      </div>

      <!-- Contact Info Column aligned to right -->
      <div class="text-end mt-3 mt-md-0 small">
        Shriram Center<br>
        443 Via Ortega<br>
        Stanford, CA 94305<br>
      </div>

    </div>

  </div>
</div>
