<div id="footer" class="site-footer mt-5">
  <div class="mt-3">
    <div class="d-flex justify-content-between align-items-center flex-wrap">

      <!-- Logos Row: Centered vertically with spacing -->
      <div class="d-flex align-items-center" style="gap: 3rem;">
        <a href="https://cheme.stanford.edu/">
          <img class="img-fluid" src="/assets/images/cheme.png" style="max-height: 60px;">
        </a>
        <a href="https://food.stanford.edu/">
          <img class="img-fluid" src="/assets/images/food.png" style="max-height: 60px;">
        </a>
        <a href="https://engineering.stanford.edu/">
          <img class="img-fluid" src="/assets/images/engineering.png" style="max-height: 50px;">
        </a>
      </div>

      <!-- Contact Info Column aligned to right -->
      <div class="text-end mt-3 mt-md-0">
        Shriram Center<br>
        443 Via Ortega<br>
        Stanford, CA 94305<br>
      </div>

    </div>

    <div class="footer-copyright text-center py-3">
      © 2025 {{ site.author }}
    </div>
  </div>
</div>
