<div id="footer" class="site-footer mt-5 pb-5">
  <div class="container mt-3">
    <div class="row align-items-center text-center text-md-start">
      
      <!-- Logos Row: Centered and stacked on mobile -->
      <div class="col-12 col-md-auto mb-3 mb-md-0">
        <div class="d-flex justify-content-center justify-content-md-start align-items-center flex-wrap" style="gap: 2rem;">
          <a href="https://cheme.stanford.edu/">
            <img class="img-fluid" src="/assets/images/cheme.png" style="max-height: 60px;">
          </a>
          <a href="https://food.stanford.edu/">
            <img class="img-fluid" src="/assets/images/food.png" style="max-height: 60px;">
          </a>
          <a href="https://biox.stanford.edu/">
            <img class="img-fluid" src="/assets/images/biox.png" style="max-height: 60px;">
          </a>
        </div>
      </div>
      
      <!-- Contact Info: Stacked below logos on mobile, right on desktop -->
      <div class="col-12 col-md text-center text-md-end small">
        Shriram Center<br>
        443 Via Ortega<br>
        Stanford, CA 94305<br>
      </div>
    </div>
  </div>
</div>
