<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-sm navbar-light px-0">
    
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/assets/images/logo.png" alt="Rim Lab logo" style="height:40px; display:block;">
      <span class="ml-1 align-middle" style="font-size: 1.25rem;">Rim Lab</span>
    </a>

    <!-- Navbar toggler button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/team/' %}active{% endif %}" href="{{ site.baseurl }}/team/">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/research/' %}active{% endif %}" href="{{ site.baseurl }}/research/">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/news/' %}active{% endif %}" href="{{ site.baseurl }}/news/">News</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
