<li class="media mb-1">
  <div class="media-body">
    <p>
      <!-- authors (shortened to first 3 + et al. if more than 3) -->
      {% assign authors = publi.author %}
      {% if authors.size > 3 %}
        {% for a in authors limit:3 %}
          {{ a.family }}, {{ a.given }}{% unless forloop.last %}; {% endunless %}
        {% endfor %} <i>et al.</i>,
      {% else %}
        {% for a in authors %}
          {{ a.family }}, {{ a.given }}{% unless forloop.last %}; {% endunless %}
        {% endfor %},
      {% endif %}

      <!-- year -->
      {% assign date = publi.issued["date-parts"][0] %}
      {{ date[0] }},

      <!-- title -->
      "{{ publi.title }}",

      <!-- journal -->
      <span class="font-italic">{{ publi['container-title'] }}</span>

      <!-- volume, issue, page -->
      {% if publi.volume or publi.issue or publi.page %}
        ,
        {% if publi.volume %}vol. {{ publi.volume }}{% endif %}
        {% if publi.issue %}, no. {{ publi.issue }}{% endif %}
        {% if publi.page %}, pp. {{ publi.page }}{% endif %}
      {% endif %}

      <!-- DOI -->
      {% if publi.DOI %}
        <br><a href="https://doi.org/{{ publi.DOI }}">DOI: {{ publi.DOI }}</a>
      {% endif %}
    </p>
  </div>
</li>
