<li class="media mb-5 d-flex flex-column flex-sm-row align-items-center align-items-sm-start" style="font-style: normal;">
  <img
    class="team-headshot mb-3 mb-sm-0 mr-0 mr-sm-3"
    src="/assets/images/team/{{ member.image }}"
    alt="{{ member.title }}">

  <div class="media-body team-text w-100">
    <h5 class="mt-0 mt-sm-0" style="font-style: normal;">
      <a href="{{ member.url }}" style="color:#006B6A; font-style: normal;">{{ member.title }}</a>
    </h5>

    <p style="font-size:1rem; margin-bottom:0;">{{ member.role }}</p>

    {% if member.email %}
    <p style="font-size:1rem; margin-top:0;">
      <a href="mailto:{{ member.email }}" class="break-anywhere" style="color:#555;">
        {{ member.email }}
      </a>
    </p>
    {% endif %}
  </div>
</li>
