<li class="media mb-5 d-flex align-items-center" style="font-style: normal;">
    <img class="align-self-center mr-3"
         src="/assets/images/team/{{ member.image }}"
         style="max-width: 200px; filter: grayscale(100%); border-radius: 50%;"
         alt="{{member.title}}">

    <div class="media-body">
      <h5 class="mt-0" style="font-style: normal;">
        <a href="{{ member.url }}" style="color: #12A672; font-style: normal;">{{ member.title }}</a>
      </h5>
      <p style="font-size: 1.25rem;">{{ member.role }}</p>
    </div>
</li>
